[flake8]

show-source = True
count = True
statistics = True

# E266 = too many leading '#' for block comment
# E731 = do not assign a lambda expression, use a def
# TC002 = move third party import to TYPE_CHECKING
# TC, TC2 = flake8-type-checking

# select = C,E,F,W ANN, TC, TC2  # to enable code. Disabled if not listed, including builtin codes
enable-extensions = TC, TC2  # only needed for extensions not enabled by default

ignore = E266, E731

exclude = .tox, .venv, build, dist, doc, git/ext/

rst-roles =  # for flake8-RST-docstrings
    attr, class, func, meth, mod, obj, ref, term, var  # used by sphinx

min-python-version = 3.7.0

# for `black` compatibility
max-line-length = 120
extend-ignore = E203, W503
