*.py[co]
*.swp
*~
.venv/
venv/
/*.egg-info
/lib/GitPython.egg-info
cover/
.coverage
/build
/dist
/doc/_build
nbproject
*.sublime-workspace
.DS_Store
/*egg-info
/.tox
/.vscode/
.idea/
.cache/
.mypy_cache/
.pytest_cache/
monkeytype.sqlite3
output.txt
tox.ini
