repos:
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          [
            flake8-bugbear==23.9.16,
            flake8-comprehensions==3.14.0,
            flake8-typing-imports==1.14.0,
          ]
        exclude: ^doc|^git/ext/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
