include VERSION
include LICENSE
include CHANGES
include AUTHORS
include CONTRIBUTING.md
include README.md
include requirements.txt

recursive-include doc *
recursive-exclude test *

global-exclude __pycache__ *.pyc
