include AUTHORS
include CHANGES
include CONTRIBUTING.md
include LICENSE
include README.md
include VERSION
include requirements.txt
include test-requirements.txt
include git/py.typed

recursive-include doc *
recursive-exclude test *

global-exclude __pycache__ *.pyc
