include VERSION
include LICENSE
include CHANGES
include AUTHORS
include CONTRIBUTING.md
include README.md
include requirements.txt
include test-requirements.txt

recursive-include doc *

graft git/test/fixtures
graft git/test/performance

global-exclude __pycache__ *.pyc
