[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
python_files = 'test_*.py'
testpaths = 'test'  # space separated list of paths from root e.g test tests doc/testing
addopts = '--cov=git --cov-report=term --maxfail=10 --force-sugar --disable-warnings'
filterwarnings = 'ignore::DeprecationWarning'
# --cov   coverage
# --cov-report term  # send report to terminal term-missing -> terminal with line numbers  html  xml
# --cov-report term-missing # to terminal with line numbers
# --cov-report html:path  # html file at path
# --maxfail  # number of errors before giving up
# -disable-warnings  # Disable pytest warnings (not codebase warnings)
# -rf   # increased reporting of failures
# -rE   # increased reporting of errors
# --ignore-glob=**/gitdb/*  # ignore glob paths
# filterwarnings ignore::WarningType  # ignores those warnings

[tool.mypy]
python_version = "3.7"
disallow_untyped_defs = true
no_implicit_optional = true
warn_redundant_casts = true
# warn_unused_ignores = true
warn_unreachable = true
show_error_codes = true
implicit_reexport = true
# strict = true

# TODO: remove when 'gitdb' is fully annotated
exclude = ["^git/ext/gitdb"]
[[tool.mypy.overrides]]
module = "gitdb.*"
ignore_missing_imports = true

[tool.coverage.run]
source = ["git"]

[tool.coverage.report]
include = ["*/git/*"]
omit = ["*/git/ext/*"]

[tool.black]
line-length = 120
target-version = ['py37']
extend-exclude = "git/ext/gitdb"
